.back {
    background-image: url(../images/alchemy.gif);
}

img{
    height: 150px;
    width: auto;
}

.backt {
    background-image: url(../images/wild-sea.png);
}

a:link {
    color:white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color:white;
    text-decoration: none;
}

.text-back {
    /* background: #FFC054; */
    background: #91DEDE;
}

/* .alt {
    background: #FFAC3B;
} */

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background: #E0FF4F;
    /* background: #FC9F5B; */
}

body {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
}