.back {
    background-image: url(../images/alchemy.gif);
}

img{
    height: 150px;
    width: auto;
}

.backt {
    background-image: url(../images/wild-sea.png);
}

a:link {
    color:white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color:white;
    text-decoration: none;
}

.text-back {
    background: #FFC054;
}

.alt {
    background: #FFAC3B;
}
